@import '~antd/dist/antd.css';
@import url("./../fonts/fonts.scss");
/*percent*/
$percent-100 : 100%;
/*pixel*/ 
$pixel-100 : 100px;
$pixel-95 : 95px;
$pixel-90 : 90px;
$pixel-85 : 85px;
$pixel-80 : 80px;
$pixel-75 : 75px;
$pixel-70 : 70px;
$pixel-65 : 65px;
$pixel-60 : 60px;
$pixel-55 : 55px;
$pixel-50 : 50px;
$pixel-45 : 45px;
$pixel-40 : 40px;
$pixel-35 : 35px;
$pixel-30 : 30px;
$pixel-25 : 25px;
$pixel-20 : 20px;
$pixel-15 : 15px;
$pixel-10 : 10px;
$pixel-5 : 5px;
$pixel-0 : 0px;

.navbar-container {
    margin:60px 200px;
}


.landing-container {
    background-color: #ffffff;
    min-height: max-content;
}

.landing-green-container {
    background-color: #00923F;
}

.dashboard-container{
    background-color: #F0F7F7;
}

.background-white{
    background-color: white;
}

.m-0 { margin: $pixel-0 !important}


.mt-5 { margin-top: $pixel-5 }
.mt-10 { margin-top: $pixel-10 }
.mt-15 { margin-top: $pixel-15 }
.mt-20 { margin-top: $pixel-20 }
.mt-25 { margin-top: $pixel-25 }
.mt-30 { margin-top: $pixel-30 }
.mt-35 { margin-top: $pixel-35 }
.mt-40 { margin-top: $pixel-40 }
.mt-50 { margin-top: $pixel-50 }
.mt-60 { margin-top: $pixel-60 }
.mt-70 { margin-top: $pixel-70 }
.mt-80 { margin-top: $pixel-80 }
.mt-90 { margin-top: $pixel-90 }
.mt-100 { margin-top:$pixel-100 }

.mb-0 { margin-bottom: $pixel-0 !important}
.mb-5 { margin-bottom: $pixel-5 }
.mb-10 { margin-bottom: $pixel-10 }
.mb-15 { margin-bottom: $pixel-15 }
.mb-20 { margin-bottom: $pixel-20 }
.mb-25 { margin-bottom: $pixel-25 }
.mb-30 { margin-bottom: $pixel-30 }
.mb-35 { margin-bottom: $pixel-35 }
.mb-40 { margin-bottom: $pixel-40 }
.mb-50 { margin-bottom: $pixel-50 }
.mb-60 { margin-bottom: $pixel-60 }
.mb-70 { margin-bottom: $pixel-70 }
.mb-80 { margin-bottom: $pixel-80 }
.mb-90 { margin-bottom: $pixel-90 }
.mb-100 { margin-bottom: $pixel-100 }

.ml-10 { margin-left: $pixel-10 }
.ml-20 { margin-left: $pixel-20 }
.ml-30 { margin-left: $pixel-30 }
.ml-40 { margin-left: $pixel-40 }
.ml-50 { margin-left: $pixel-50 }

.mr-10 { margin-right: $pixel-10 }
.mr-20 { margin-right: $pixel-20 }
.mr-30 { margin-right: $pixel-30 }
.mr-40 { margin-right: $pixel-40 }
.mr-50 { margin-right: $pixel-50 }

.p-5 { padding: $pixel-5 }
.p-10 { padding: $pixel-10 }
.p-15 { padding: $pixel-15 }
.p-20 { padding: $pixel-20 }
.p-25 { padding: $pixel-25 }
.p-30 { padding: $pixel-30 }
.p-35 { padding: $pixel-35 }
.p-40 { padding: $pixel-40 }
.p-45 { padding: $pixel-45 }
.p-50 { padding: $pixel-50 }

.pt-5 { padding-top: $pixel-5 }
.pt-10 { padding-top: $pixel-10 }
.pt-15 { padding-top: $pixel-15 }
.pt-20 { padding-top: $pixel-20 }
.pt-25 { padding-top: $pixel-25 }
.pt-30 { padding-top: $pixel-30 }
.pt-35 { padding-top: $pixel-35 }
.pt-40 { padding-top: $pixel-40 }
.pt-45 { padding-top: $pixel-45 }
.pt-50 { padding-top: $pixel-50 }

.pl-10 {padding-left: $pixel-10;}
.pl-20 {padding-left: $pixel-20;}
.pl-30 {padding-left: $pixel-30;}
.pl-40 {padding-left: $pixel-40;}

.pr-10 {padding-right: $pixel-10;}
.pr-20 {padding-right: $pixel-20;}
.pr-30 {padding-right: $pixel-30;}
.pr-40 {padding-right: $pixel-40;}

.pb-20 { padding-bottom: $pixel-20 }
.pb-25 { padding-bottom: $pixel-25 }
.pb-30 { padding-bottom: $pixel-30 }
.pb-35 { padding-bottom: $pixel-30 }
.pb-40 { padding-bottom: $pixel-40 }

/*centered*/
.text-center {
    text-align: center;
}

.center-object {
    align-items: center;
}

.margin-center {
    margin: 0px auto !important;
}


/*float*/
.float-left {
    float: left;
}

.float-right {
    float: right;
}

/*font style*/
.font-title {
    font-size: $pixel-50;
}

.font-title-icon {
    font-size : 36px;
}

.font-title-dashboard {
    font-size: 24px;
}

.font-secondary-title {
    font-size: 27px;
}

.font-card-title{
    font-size: 20px;
}

.font-title-medium {
    font-size: $pixel-20;
}

.font-title-content {
    font-size: 18px;
}

.font-content {
    font-size: 14px;
}

.font-bold {
    font-family: 'Poppins Bold';
}

.font-semi-bold {
    font-family: 'Poppins Semi Bold';
}

.font-medium {
    font-family: 'Poppins Medium';
}

.font-regular {
    font-family: 'Poppins Regular';
}

.font-thin {
    font-family: 'Poppins Thin';
}

.font-light {
    font-family: 'Poppins Light';
}

.green {
    color : #00923F;
}

.yellow{
    color : #FFC700;
}

.yellow-dark{
    color : #FF9900;
}

.white{
    color : #ffffff;
}

.black {
    color :black;
}

.underline{
    text-decoration: underline;
    color: #00923F;
}

/* Media Queries */
/* Media Queries */
@media (min-width: 1366px) and (max-width: 1366px){
    /* Section 1 style */
    .navbar-container {
        margin:60px 100px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){

}

@media (min-width: 767px) and (max-width: 991.98px) {
    .font-title {
        font-size: $pixel-25;
    }

    .font-title-content {
        font-size: 14px;
    }

    .font-title-medium {
        font-size: $pixel-15;
    }

    .font-secondary-title {
        font-size: 20px;
    }
}

@media (min-width: 576px) and (max-width: 768px){
    .font-title {
        font-size: $pixel-25;
    }

    .font-title-content {
        font-size: 14px;
    }

    .font-title-medium {
        font-size: $pixel-15;
    }

    .font-secondary-title {
        font-size: 20px;
    }
}

@media (min-width: 481px) and (max-width: 575px){
    .font-title {
        font-size: $pixel-30;
    }

    .font-title-content {
        font-size: 14px;
    }

    .font-title-medium {
        font-size: $pixel-15;
    }

    .font-secondary-title {
        font-size: 20px;
    }
}

@media (min-width: 320px) and (max-width: 480px){
    .font-title {
        font-size: $pixel-25;
    }

    .font-title-content {
        font-size: 14px;
    }

    .font-title-medium {
        font-size: $pixel-15;
    }

    .font-secondary-title {
        font-size: 20px;
    }

    .font-card-title{
        font-size: 18px;
    }
    
}
