@font-face {
    font-family: 'Poppins Black';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Black'), url('Poppins-Black.otf') format('woff');
}

@font-face {
    font-family: 'Poppins Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Bold'), url('Poppins-Bold.otf') format('woff');
}

@font-face {
    font-family: 'Poppins Semi Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Semi Bold'), url('Poppins-SemiBold.otf') format('woff');
}

@font-face {
    font-family: 'Poppins Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Medium'), url('Poppins-Medium.otf') format('woff');
}

@font-face {
    font-family: 'Poppins Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Regular'), url('Poppins-Regular.otf') format('woff');
}

@font-face {
    font-family: 'Poppins Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Thin'), url('Poppins-Thin.otf') format('woff');
}

@font-face {
    font-family: 'Poppins Light';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins Light'), url('Poppins-Light.otf') format('woff');
}